// Header styles

header {
    background-color: $color-dark;
    padding: 20px;

    h1 {
        color: $color-white;
        text-align: center;
    }

    nav {
        text-align: center;

        a {
            color: $color-white;
            text-decoration: none;
            margin: 0 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}